<!------------------------HEADER :: 공통 ----------------------->
<!DOCTYPE html>
<html style="height: 100%;">

<head>
    <%-include('head/header.ejs')%>
</head>

<body class="fp-bodybg">
    <div class="wrapper">
        <%-include('head/nav.ejs')%>
        <!------------------------HEADER::공통------------------------>
        <!-----------------------script:JOIN -->
        <script type="text/javascript">
            /**pwCheck**/
            function passwordCheckFunction() {
                var userPassword1 = $('#userPassword1').val();
                var userPassword2 = $('#userPassword2').val();
                if (userPassword1 != userPassword2) {
                    $('#passwordCheckMessage').html('비밀번호가 서로 일치하지 않습니다.');
                } else {

                    $('#passwordCheckMessage').html('');
                }
            }
            /**휴대폰**/
            // 1. 숫자만 입력받게 하는 방법
            function onlyNumber() {
                if ((event.keyCode < 48) || (event.keyCode > 57))
                    event.returnValue = false;
            }

        </script>
        <!-----------------------script:JOIN -->
        <!------------------------메인------------------------>

        <div class="container">

            <!-- iam-wrapper -->
            <div class="iam-wrapper">
                <!-- 독서왕 view	-->
                <main class="iam-main ng-scope">
                    <!-- iam-main-inner -->
                    <div class="iam-main-inner">
                        <!-- contents -->
                        <div class="iam-contents">
                            <h2>Register Update</h2>
                            <!-- forms-->
                            <div class="iam-forms">
                                <form method="post" action="/users/update"
                                    class="ng-pristine ng-valid ng-valid-email ng-valid-maxlength">
                                    <fieldset>
                                        <legend>Account Jasmine Join</legend>
                                        <!-- user -->
                                        <div class="iam-input-container">
                                            <input type="text" name="id" value="<%= user[0].ID%>" readonly
                                                class="ng-pristine ng-valid ng-empty ng-valid-email ng-valid-maxlength ng-touched"
                                                autocomplete="off">
                                        </div>
                                        <div class="iam-input-container">
                                            <input type="text" name="Name" value="<%= user[0].Name%>" maxlength="50"
                                                class="ng-pristine ng-valid ng-empty ng-valid-email ng-valid-maxlength ng-touched"
                                                autocomplete="off">
                                        </div>
                                        <div class="iam-input-container  ">
                                            <input onkeyup="passwordCheckFunction();" id="userPassword1" type="password"
                                                name="PW" placeholder="수정할 비밀번호를 입력하세요" maxlength="20"
                                                class="ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength"
                                                autocomplete="off">
                                        </div>
                                        <div class="iam-input-container  ">
                                            <input onkeyup="passwordCheckFunction();" id="userPassword2" type="password"
                                                name="PW2" placeholder="수정할 비밀번호를 동일하게 입력하세요" maxlength="20"
                                                class="ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength"
                                                autocomplete="off">
                                        </div>
                                        <div>
											<!-- 패스워드 일치 여부 출력 -->
											<label for="remIdChkYN"><span id="passwordCheckMessage"
													style="color:red;"></span></label>

										</div>
                                        <div class="iam-input-container" style="margin-top: -10px;">
                                            <input type="email" name="Email" value="<%= user[0].Email %>" maxlength="50"
                                                class="ng-pristine ng-valid ng-empty ng-valid-email ng-valid-maxlength ng-touched"
                                                autocomplete="off">
                                        </div>
                                        <div class="iam-input-container" id="txtMobile">
											<div id ="txtMobileLabel">주&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;소 :: </div>
											<select id="txtMobile1" name="Address" style="width: 200px;">
												<option value="">--선택--</option>
												<% for(var i=0; i < addr.length; i++) { %>
													<option value="<%= addr[i].Address%>"><%= addr[i].Address%></option>
												<% } %>
											</select>
										</div>
                                        <div class="iam-input-container  " id="txtMobile">
                                            <div id="txtMobileLabel">전화번호 :: </div>
                                            
                                            <input type="text" value="<%= user[0].Phone_Num%>" id="txtMobile3" name="Phone_Num"
                                                maxlength="13" style="width: 250px;"/>
                                        </div>
                                        <div class="iam-input-container  " id="txtMobile">

                                            <div id="txtMobileLabel">생년월일 :: </div>

                                            <input type="text" id="txtMobile2" value="<%= user[0].Birthday%>" name="Birthday"
                                                maxlength="10" onkeypress="onlyNumber();" style="width: 250px;" />
                                            <div></div>
                                            
                                        </div>
                                        <!-- //user -->


                                        <div class="iam-signIn-button"><button class="iam-button iam-primary"
                                                id="signInButton" type="submit">회원정보 수정</button></div>
                                    </fieldset>
                                </form>
                            </div>
                            <!-- //forms -->
                            <div style="width:100%;   height:40px;    text-align:center;">
                                <button type="button" class="btn" style="width:100%; background-color:#c0c0c0;"
                                    onclick="location.href='/users/mypage'">마이페이지로 돌아가기</button>
                            </div>
                        </div>
                        <!-- //contents -->
                    </div>
                </main>
                <!-- 이달의 책 view	-->
            </div>
        </div>
        <!------------------------메인------------------------->
    </div>
    <!------------------------CHECK MODAL------------------------>
    <!----
 * 사용 영역 *  아이디 중복체크 || 
 ---->
    <div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog r vertical-align-cente">
                <div id="checkType" class="modal-content panel-info">
                    <div class="modal-header panel-heading">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">
                            확인 메시지
                        </h4>
                    </div>
                    <div id="checkMessage" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------CHECK MODAL------------------------>
</body>

</html>